*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:#f5f5f5;
color:#222;

}

header{

background:#0c214f;
color:white;
text-align:center;
padding:50px 20px;

}

.logo{

width:260px;
margin-bottom:20px;

}

header h1{

font-size:42px;
margin-bottom:10px;

}

header p{

font-size:20px;
color:#ddd;

}

section{

max-width:1000px;
margin:auto;
padding:60px 20px;

}

h2{

text-align:center;
margin-bottom:35px;
color:#0c214f;
font-size:34px;

}

.despre p{

text-align:center;
line-height:1.8;
font-size:18px;

}

.produse{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:white;
width:320px;
padding:30px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

color:#d41d22;
margin-bottom:20px;
font-size:28px;

}

.card p{

margin:12px 0;
font-size:18px;

}

.avantaje{

background:white;

}

.avantaje ul{

list-style:none;
max-width:500px;
margin:auto;

}

.avantaje li{

padding:15px;
font-size:20px;

}

.contact{

text-align:center;

}

.contact p{

margin:12px;
font-size:18px;

}

footer{

background:#0c214f;
color:white;
padding:25px;
text-align:center;
margin-top:50px;

}

@media(max-width:700px){

header h1{

font-size:30px;

}

.logo{

width:180px;

}

.card{

width:100%;

}

}
